---
import Default from "../layouts/DefaultLayout.astro";
---
<Default title="第18回 授業ページ">
  <h2>第18回「曲の雰囲気・大分解」</h2>
  <ul>
    <li><a href="/music-theory-class-18/lessons/lesson18.html">▶ 本文はこちら</a></li>
  </ul>
</Default>